ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    float: right;
}

li a{
display: block;
color: white;
padding: 20px;
text-decoration: none;
}
li{
    float: right;
}